# SPDX-License-Identifier: MIT-0
# handlers file for roles/webserver
# roles/webserver/handlers/main.yml

---
- name: Restart nginx
  become: true
  service:
    name: nginx
    state: restarted
    enabled: true
