---
docker_packages:
  - ca-certificates
  - curl
  - gnupg
  - apt-transport-https

docker_apt_repo: "https://download.docker.com/linux/ubuntu"
docker_gpg_path: "/etc/apt/keyrings/docker.gpg"

docker_install_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin
