---
- name: Ensure required packages are installed
  apt:
    name: "{{ docker_packages }}"
    state: "{{ docker_state }}"
    update_cache: yes
  become: true

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true
  become: true

# ---
# - name: Ensure required packages are installed
#   apt:
#     name: "{{ docker_packages }}"
#     state: present
#     update_cache: yes
#   tags: [docker]

- name: Create keyrings directory for Docker GPG if not exists
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"
  tags: [docker]

# - name: Add Docker GPG key
#   ansible.builtin.get_url:
#     url: "{{ docker_apt_repo }}/gpg"
#     dest: "{{ docker_gpg_path }}"
#     mode: "0644"
#   tags: [docker]

- name: Add Docker GPG key
  ansible.builtin.shell: |
    set -e
    curl -fsSL {{ docker_apt_repo }}/gpg | gpg --dearmor -o {{ docker_gpg_path }}
  args:
    creates: "{{ docker_gpg_path }}"
  tags: [docker]

# - name: Add Docker APT repository
#   copy:
#     dest: /etc/apt/sources.list.d/docker.list
#     content: |
#       deb [arch=$(dpkg --print-architecture) signed-by={{ docker_gpg_path }}] {{ docker_apt_repo }} {{ ansible_lsb.codename }} stable
#     mode: "0644"
#   tags: [docker]

- name: Add Docker APT repository
  copy:
    dest: /etc/apt/sources.list.d/docker.list
    content: |
      deb [arch=amd64 signed-by={{ docker_gpg_path }}] {{ docker_apt_repo }} {{ ansible_lsb.codename }} stable
    mode: "0644"
  tags: [docker]


- name: Update apt cache after adding Docker repo
  apt:
    update_cache: yes
  tags: [docker]

- name: Install Docker Engine, CLI, containerd, and Compose plugin
  apt:
    name: "{{ docker_install_packages }}"
    state: present
  tags: [docker]

- name: Ensure Docker service is enabled and running
  service:
    name: docker
    state: started
    enabled: yes
  tags: [docker]

- name: Add current user to docker group (optional)
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes
  when: ansible_user != "root"
  tags: [docker]

- name: Print docker version
  command: docker --version
  register: docker_version
  changed_when: false
  tags: [docker]

- name: Show docker version output
  debug:
    msg: "{{ docker_version.stdout }}"
  tags: [docker]

